In [7]:
#Chuyển định dạng file về csv để đọc (Vào folder chứa file bằng terminal)
bzip2 -d king-county-house-sales.csv.bz2

SyntaxError: invalid syntax (1926020853.py, line 1)

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, when, col

# Khởi tạo Spark session
spark = SparkSession.builder.appName('HouseSales').getOrCreate()

# Đọc file .csv.bz2 vào DataFrame
df = spark.read.csv("king-county-house-sales.csv", header=True, inferSchema=True)


# Hiển thị dữ liệu
df.show(5)

+----------+---------------+--------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|        id|           date|   price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|
+----------+---------------+--------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|7129300520|20141013T000000|221900.0|       3|      1.0|       1180|    5650|   1.0|         0|   0|        3|    7|      1180|            0|    1955|           0|  98178|47.5112|-122.257|         1340|      5650|
|6414100192|20141209T000000|538000.0|       3|     2.25|       2570|    7242|   2.0|         0|   0|        3|    7|      2170|          400|    1951|        1991|  98125| 47.721|-122.319|         1690|      7639|
|5631500400|20150225T000000|180000.0|       2|      1.0|        770|   10000|   1.0|         0|   0|        3|    6|       770|            0|    1933|           0|  98028|47.7379|-122.233|         2720|      8062|
|2487200875|20141209T000000|604000.0|       4|      3.0|       1960|    5000|   1.0|         0|   0|        5|    7|      1050|          910|    1965|           0|  98136|47.5208|-122.393|         1360|      5000|
|1954400510|20150218T000000|510000.0|       3|      2.0|       1680|    8080|   1.0|         0|   0|        3|    8|      1680|            0|    1987|           0|  98074|47.6168|-122.045|         1800|      7503|
+----------+---------------+--------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 5 rows

In [15]:
# Kiểm tra schema của DataFrame để đảm bảo kiểu dữ liệu đúng
df.printSchema()

# Kiểm tra giá trị null trong các cột
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

root
 |-- id: long (nullable = true)
 |-- date: string (nullable = true)
 |-- price: double (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: double (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)
 |-- condition: integer (nullable = true)
 |-- grade: integer (nullable = true)
 |-- sqft_above: integer (nullable = true)
 |-- sqft_basement: integer (nullable = true)
 |-- yr_built: integer (nullable = true)
 |-- yr_renovated: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- sqft_living15: integer (nullable = true)
 |-- sqft_lot15: integer (nullable = true)

+---+----+-----+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+---+----+-------------+----------+
| id|date|price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|lat|long|sqft_living15|sqft_lot15|
+---+----+-----+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+---+----+-------------+----------+
|  0|   0|    0|       0|        0|          0|       0|     0|         0|   0|        0|    0|         0|            0|       0|           0|      0|  0|   0|            0|         0|
+---+----+-----+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+---+----+-------------+----------+

In [16]:
# Đếm số lượng nhà đang được bán
num_houses = df.count()

# In kết quả
print(f"Số lượng nhà đang được bán: {num_houses}")

Số lượng nhà đang được bán: 21613

In [25]:
# Lấy danh sách các vùng (zipcode) khác nhau (distinct)
distinct_zipcodes = df.select("zipcode").distinct()

# Hiển thị số lượng vùng
print(f"Số lượng vùng được liệt kê trong dữ liệu: {distinct_zipcodes.count()}")

# Hiển thị danh sách các vùng (Mặc định show trong py chỉ hiện 20 hàng đầu) Truncate(không rút gọn)
distinct_zipcodes.orderBy("zipcode").show(20, truncate=False)

Số lượng vùng được liệt kê trong dữ liệu: 70
+-------+
|zipcode|
+-------+
|98001  |
|98002  |
|98003  |
|98004  |
|98005  |
|98006  |
|98007  |
|98008  |
|98010  |
|98011  |
|98014  |
|98019  |
|98022  |
|98023  |
|98024  |
|98027  |
|98028  |
|98029  |
|98030  |
|98031  |
+-------+
only showing top 20 rows

In [31]:
from pyspark.sql.functions import round
# Ép kiểu các cột sang IntegerType
#withColumn Tạo lại cột với kiểu dữ liệu mới
df = df.withColumn("price", round(col("price")).cast("int")) \
       .withColumn("sqft_living", round(col("sqft_living")).cast("int")) \
       .withColumn("floors", round(col("floors")).cast("int"))

# Kiểm tra lại schema sau khi chuyển đổi
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- date: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)
 |-- condition: integer (nullable = true)
 |-- grade: integer (nullable = true)
 |-- sqft_above: integer (nullable = true)
 |-- sqft_basement: integer (nullable = true)
 |-- yr_built: integer (nullable = true)
 |-- yr_renovated: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- sqft_living15: integer (nullable = true)
 |-- sqft_lot15: integer (nullable = true)

In [32]:
df.show(10)

+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|        id|           date|  price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|
+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|7129300520|20141013T000000| 221900|       3|      1.0|       1180|    5650|     1|         0|   0|        3|    7|      1180|            0|    1955|           0|  98178|47.5112|-122.257|         1340|      5650|
|6414100192|20141209T000000| 538000|       3|     2.25|       2570|    7242|     2|         0|   0|        3|    7|      2170|          400|    1951|        1991|  98125| 47.721|-122.319|         1690|      7639|
|5631500400|20150225T000000| 180000|       2|      1.0|        770|   10000|     1|         0|   0|        3|    6|       770|            0|    1933|           0|  98028|47.7379|-122.233|         2720|      8062|
|2487200875|20141209T000000| 604000|       4|      3.0|       1960|    5000|     1|         0|   0|        5|    7|      1050|          910|    1965|           0|  98136|47.5208|-122.393|         1360|      5000|
|1954400510|20150218T000000| 510000|       3|      2.0|       1680|    8080|     1|         0|   0|        3|    8|      1680|            0|    1987|           0|  98074|47.6168|-122.045|         1800|      7503|
|7237550310|20140512T000000|1225000|       4|      4.5|       5420|  101930|     1|         0|   0|        3|   11|      3890|         1530|    2001|           0|  98053|47.6561|-122.005|         4760|    101930|
|1321400060|20140627T000000| 257500|       3|     2.25|       1715|    6819|     2|         0|   0|        3|    7|      1715|            0|    1995|           0|  98003|47.3097|-122.327|         2238|      6819|
|2008000270|20150115T000000| 291850|       3|      1.5|       1060|    9711|     1|         0|   0|        3|    7|      1060|            0|    1963|           0|  98198|47.4095|-122.315|         1650|      9711|
|2414600126|20150415T000000| 229500|       3|      1.0|       1780|    7470|     1|         0|   0|        3|    7|      1050|          730|    1960|           0|  98146|47.5123|-122.337|         1780|      8113|
|3793500160|20150312T000000| 323000|       3|      2.5|       1890|    6560|     2|         0|   0|        3|    7|      1890|            0|    2003|           0|  98038|47.3684|-122.031|         2390|      7570|
+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 10 rows

In [36]:
from pyspark.sql.functions import avg

# Tính giá trung bình nhà theo vùng (zipcode)
avg_price_by_zipcode = df.groupBy("zipcode").agg(avg("price").alias("avg_price"))

# Hiển thị kết quả (sắp xếp theo giá trung bình giảm dần)
avg_price_by_zipcode.orderBy("avg_price", ascending=False).show(truncate=False)

#Giải thích
# Lọc dữ liệu theo cột zipcode vì mình tính trung bình theo giá từng vùng
# agg(avg("price").alias("avg_price")) tính trung bình các giá trị zipcode và đặt tên 

#bọc round vào agg nếu muốn làm tròn đến mấy chữ số vd .round(agg(avg("price"), 2)

+-------+------------------+
|zipcode|avg_price         |
+-------+------------------+
|98039  |2160606.6         |
|98004  |1355927.0820189274|
|98040  |1194230.0212765958|
|98112  |1095499.342007435 |
|98102  |901258.2666666667 |
|98109  |879623.6238532111 |
|98105  |862825.2314410481 |
|98006  |859684.7791164658 |
|98119  |849448.0163043478 |
|98005  |810164.875        |
|98033  |803719.5231481482 |
|98199  |791820.807570978  |
|98075  |790576.6545961003 |
|98074  |685605.775510204  |
|98077  |682774.8787878788 |
|98053  |678163.0592592593 |
|98177  |676185.3921568628 |
|98008  |645507.3780918728 |
|98052  |645231.456445993  |
|98122  |634360.1793103449 |
+-------+------------------+
only showing top 20 rows

In [38]:
# Lọc những nhà có 3 tầng và xây sau năm 1970
houses_3_floors_after_1970 = df.filter((col("floors") == 3) & (col("yr_built") > 1970))

# Hiển thị kết quả
houses_3_floors_after_1970.show(truncate=False)

print("Số lượng nhà 3 tầng xây sau năm 1970:", houses_3_floors_after_1970.count())

+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|id        |date           |price  |bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|lat    |long    |sqft_living15|sqft_lot15|
+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|2426039314|20141201T000000|280000 |2       |1.5      |1190       |1265    |3     |0         |0   |3        |7    |1190      |0            |2005    |0           |98133  |47.7274|-122.357|1390         |1756      |
|9528102996|20141207T000000|549000 |3       |1.75     |1540       |1044    |3     |0         |0   |3        |8    |1540      |0            |2014    |0           |98115  |47.6765|-122.32 |1580         |3090      |
|3362400431|20140626T000000|518500 |3       |3.5      |1590       |1102    |3     |0         |0   |3        |8    |1590      |0            |2010    |0           |98103  |47.6824|-122.347|1620         |3166      |
|2767602356|20150126T000000|675000 |4       |3.5      |2140       |2278    |3     |0         |0   |3        |9    |2140      |0            |2005    |0           |98107  |47.6734|-122.38 |1540         |2285      |
|2767603505|20140507T000000|519950 |3       |2.25     |1170       |1249    |3     |0         |0   |3        |8    |1170      |0            |2014    |0           |98107  |47.6722|-122.381|1350         |1310      |
|7821200390|20140806T000000|450000 |3       |2.0      |1290       |1213    |3     |0         |0   |3        |8    |1290      |0            |2001    |0           |98103  |47.6609|-122.344|1290         |3235      |
|9528102772|20140708T000000|438000 |2       |2.0      |1270       |1372    |3     |0         |0   |3        |8    |1270      |0            |2000    |0           |98115  |47.6776|-122.318|1610         |3090      |
|3126049411|20141209T000000|340000 |2       |2.5      |1100       |1760    |3     |0         |0   |3        |7    |1100      |0            |1997    |0           |98103  |47.6972|-122.35 |1200         |1415      |
|7548300731|20140808T000000|559950 |3       |2.5      |1660       |1458    |3     |0         |0   |3        |9    |1660      |0            |2014    |0           |98144  |47.5876|-122.309|1660         |1784      |
|9385200045|20150512T000000|729500 |3       |2.5      |1660       |1091    |3     |0         |1   |3        |9    |1530      |130          |2015    |0           |98116  |47.5818|-122.402|1510         |1352      |
|6798100662|20140527T000000|312000 |3       |1.5      |1255       |1374    |3     |0         |0   |3        |7    |1255      |0            |2004    |0           |98125  |47.7145|-122.311|1307         |1232      |
|6145600041|20140514T000000|306000 |3       |1.5      |1220       |1086    |3     |0         |0   |3        |8    |1220      |0            |2007    |0           |98133  |47.7049|-122.353|1220         |1422      |
|3300701615|20140930T000000|655000 |4       |2.5      |2630       |4000    |3     |0         |0   |3        |8    |2630      |0            |2002    |0           |98117  |47.6915|-122.381|1640         |4000      |
|108000127 |20141209T000000|456500 |4       |3.5      |2000       |2309    |3     |0         |0   |3        |8    |2000      |0            |2008    |0           |98177  |47.7027|-122.361|1440         |1548      |
|6306400140|20140612T000000|1095000|0       |0.0      |3064       |4764    |3     |0         |2   |3        |7    |3064      |0            |1990    |0           |98102  |47.6362|-122.322|2360         |4000      |
|510002519 |20140715T000000|466000 |2       |1.5      |1140       |1058    |3     |0         |0   |3        |7    |1140      |0            |2005    |0           |98103  |47.6608|-122.333|1170         |1116      |
|7517500611|20140521T000000|720000 |3       |2.5      |2020       |1159    |3     |0         |3   |3        |8    |2020      |0            |2000    |0           |98103  |47.6617|-122.356|1920         |3600      |
|9528104108|20140529T000000|535000 |3       |2.5      |1360       |1016    |3     |0         |0   |3        |7    |1310      |50           |2003    |0           |98115  |47.6774|-122.324|1365         |1156      |
|9158100116|20150406T000000|285000 |2       |1.5      |990        |1380    |3     |0         |0   |3        |7    |990       |0            |2001    |0           |98133  |47.7218|-122.356|1050         |1380      |
|2770604942|20141230T000000|609850 |2       |2.75     |1910       |1369    |3     |0         |0   |3        |9    |1910      |0            |2002    |0           |98119  |47.6544|-122.373|1910         |1879      |
+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 20 rows

Số lượng nhà 3 tầng xây sau năm 1970: 612

In [40]:
from pyspark.sql.functions import avg, count, round

# 1. Lọc nhà có <= 3 phòng ngủ và giá <= 250000
filtered_df = df.filter((col("bedrooms") <= 3) & (col("price") <= 250000))

# 2. Nhóm theo số tầng, tính tổng số nhà và giá trung bình
summary_df = filtered_df.groupBy("floors") \
    .agg(
        count("*").alias("total_houses"),
        round(avg("price"), 3).alias("avg_price")
    ) \
    .orderBy("floors")

# 3. Hiển thị kết quả
summary_df.show(truncate=False)

+------+------------+----------+
|floors|total_houses|avg_price |
+------+------------+----------+
|1     |1850        |204784.884|
|2     |208         |219255.822|
|3     |2           |206700.0  |
+------+------------+----------+

In [41]:
#Do cột date đang là string -> dateType
from pyspark.sql.functions import to_date, year

# Chuyển đổi cột date từ chuỗi sang kiểu Date
df = df.withColumn("date", to_date(col("date"), "yyyyMMdd'T'HHmmss"))

# Kiểm tra schema để xác nhận
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- date: date (nullable = true)
 |-- price: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)
 |-- condition: integer (nullable = true)
 |-- grade: integer (nullable = true)
 |-- sqft_above: integer (nullable = true)
 |-- sqft_basement: integer (nullable = true)
 |-- yr_built: integer (nullable = true)
 |-- yr_renovated: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- sqft_living15: integer (nullable = true)
 |-- sqft_lot15: integer (nullable = true)

In [44]:
# Lọc nhà đăng bán vào năm 2015
houses_2015 = df.filter(year(col("date")) == 2015)

# Hiển thị kết quả
houses_2015.show(truncate=False)

# Số lượng
print("Số lượng nhà đăng bán vào năm 2015:", houses_2015.count())

+----------+----------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|id        |date      |price  |bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|lat    |long    |sqft_living15|sqft_lot15|
+----------+----------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|5631500400|2015-02-25|180000 |2       |1.0      |770        |10000   |1     |0         |0   |3        |6    |770       |0            |1933    |0           |98028  |47.7379|-122.233|2720         |8062      |
|1954400510|2015-02-18|510000 |3       |2.0      |1680       |8080    |1     |0         |0   |3        |8    |1680      |0            |1987    |0           |98074  |47.6168|-122.045|1800         |7503      |
|2008000270|2015-01-15|291850 |3       |1.5      |1060       |9711    |1     |0         |0   |3        |7    |1060      |0            |1963    |0           |98198  |47.4095|-122.315|1650         |9711      |
|2414600126|2015-04-15|229500 |3       |1.0      |1780       |7470    |1     |0         |0   |3        |7    |1050      |730          |1960    |0           |98146  |47.5123|-122.337|1780         |8113      |
|3793500160|2015-03-12|323000 |3       |2.5      |1890       |6560    |2     |0         |0   |3        |7    |1890      |0            |2003    |0           |98038  |47.3684|-122.031|2390         |7570      |
|1736800520|2015-04-03|662500 |3       |2.5      |3560       |9796    |1     |0         |0   |3        |8    |1860      |1700         |1965    |0           |98007  |47.6007|-122.145|2210         |8925      |
|1175000570|2015-03-12|530000 |5       |2.0      |1810       |4850    |1     |0         |0   |3        |7    |1810      |0            |1900    |0           |98107  |47.67  |-122.394|1360         |4850      |
|9297300055|2015-01-24|650000 |4       |3.0      |2950       |5000    |2     |0         |3   |3        |9    |1980      |970          |1979    |0           |98126  |47.5714|-122.375|2140         |4000      |
|7983200060|2015-04-24|230000 |3       |1.0      |1250       |9774    |1     |0         |0   |4        |7    |1250      |0            |1969    |0           |98003  |47.3343|-122.306|1280         |8850      |
|1873100390|2015-03-02|719000 |4       |2.5      |2570       |7173    |2     |0         |0   |3        |8    |2570      |0            |2005    |0           |98052  |47.7073|-122.11 |2630         |6026      |
|7895500070|2015-02-13|240000 |4       |1.0      |1220       |8075    |1     |0         |0   |2        |7    |890       |330          |1969    |0           |98001  |47.3341|-122.282|1290         |7800      |
|8945200830|2015-03-25|210490 |3       |1.0      |990        |8528    |1     |0         |0   |3        |6    |990       |0            |1966    |0           |98023  |47.3066|-122.371|1228         |8840      |
|9215400105|2015-04-28|450000 |3       |1.75     |1250       |5963    |1     |0         |0   |4        |7    |1250      |0            |1953    |0           |98115  |47.6796|-122.301|970          |5100      |
|822039084 |2015-03-11|1350000|3       |2.5      |2753       |65005   |1     |1         |2   |5        |9    |2165      |588          |1953    |0           |98070  |47.4041|-122.451|2680         |72513     |
|7231300125|2015-02-17|345000 |5       |2.5      |3150       |9134    |1     |0         |0   |4        |8    |1640      |1510         |1966    |0           |98056  |47.4934|-122.189|1990         |9133      |
|3626039271|2015-02-05|585000 |2       |1.75     |1980       |8550    |1     |0         |0   |3        |7    |990       |990          |1981    |0           |98117  |47.6989|-122.369|1480         |6738      |
|4217401195|2015-03-03|920000 |5       |2.25     |2730       |6000    |1     |0         |0   |3        |8    |2130      |600          |1927    |0           |98105  |47.6571|-122.281|2730         |6000      |
|2799800710|2015-04-07|301000 |3       |2.5      |2420       |4750    |2     |0         |0   |3        |8    |2420      |0            |2003    |0           |98042  |47.3663|-122.122|2690         |4750      |
|8079040320|2015-02-23|430000 |4       |3.0      |1850       |9976    |2     |0         |0   |3        |8    |1850      |0            |1991    |0           |98059  |47.5059|-122.149|2270         |8542      |
|1049000060|2015-01-05|325000 |3       |2.0      |1260       |5612    |1     |0         |0   |4        |7    |1260      |0            |1972    |0           |98034  |47.7362|-122.179|1640         |4745      |
+----------+----------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 20 rows

Số lượng nhà đăng bán vào năm 2015: 6980

In [51]:
from pyspark.sql.functions import count

# Xoay bảng (pivot) theo cột floors và nhóm theo cột bedrooms
pivot_df = df.groupBy("bedrooms") \
    .pivot("floors") \
    .agg(count("*").alias("count"))

# Hiển thị kết quả
pivot_df.orderBy("bedrooms").show(truncate=False)

+--------+----+----+----+
|bedrooms|1   |2   |3   |
+--------+----+----+----+
|0       |4   |6   |3   |
|1       |183 |13  |3   |
|2       |2133|502 |125 |
|3       |6241|3174|409 |
|4       |3081|3740|61  |
|5       |790 |798 |13  |
|6       |134 |133 |5   |
|7       |16  |21  |1   |
|8       |6   |6   |1   |
|9       |NULL|6   |NULL|
|10      |1   |2   |NULL|
|11      |NULL|1   |NULL|
|33      |1   |NULL|NULL|
+--------+----+----+----+

In [53]:
from pyspark.sql.functions import when, col

# Tạo cột mới "size_category" với giá trị theo điều kiện diện tích
df = df.withColumn(
    "size_category", 
    when(col("sqft_living") <= 1000, "small")
    .when((col("sqft_living") > 1000) & (col("sqft_living") < 2000), "medium")
    .otherwise("large")
)

# Hiển thị kết quả
df.select("sqft_living", "size_category").orderBy("sqft_living").show(truncate=False)

+-----------+-------------+
|sqft_living|size_category|
+-----------+-------------+
|290        |small        |
|370        |small        |
|380        |small        |
|384        |small        |
|390        |small        |
|390        |small        |
|410        |small        |
|420        |small        |
|420        |small        |
|430        |small        |
|440        |small        |
|460        |small        |
|470        |small        |
|470        |small        |
|480        |small        |
|480        |small        |
|490        |small        |
|500        |small        |
|520        |small        |
|520        |small        |
+-----------+-------------+
only showing top 20 rows